*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* navbar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    position: top;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 0 10 10px 10px;
}

nav .logo{
    display: flex;
    margin-right: 1rem;
    align-items: center;
}
.nav .logo h1{
    width: 120px;
    display: flex;
    cursor: pointer;
}

.nav-link{
    margin-left: 155px;
    margin-top: 20px;
}
.nav-link ul{
    list-style: none;
}

.nav-link ul li{
    display: inline-block;
    margin: 0 10px;
}

.nav-link ul li a{
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link ul li a:hover{
    color: #4169E1;
}

.nav ul li a.action{
    color:  #4169E1;
}

.bigger-icon{
    font-size: 30px;
    cursor: pointer;
}

.dropdown-menu {
    
}
/* end navbar */

/* container 1 */

.atas {
    background-color: #4169E1;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}


.right{
    text-align: left;
    width: 85%;
    box-sizing: border-box;
    padding-top: 70px;
    margin-left: 200px;
}

 .p1{
    color: white;
    font-size: 40px;
    padding-top: 150px;
}

.p2{
    color:  white;
    font-weight: bold;
    font-size: 55px;
}



/* container 3 */

.dealership{
    padding-top: 40px;
    padding-bottom: 100px;
    width: 100%;
    margin: auto;
}

.card-img-top{
    width: 200px;
    height: 200px;
}

.card1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    align-items: center;
    
}

.card-text{
    text-align: center;

}
.card2{
    background-color: white;
    padding-top: 10px;
    margin-top: 50px;
    margin-right: 5px;
    
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.2);
    opacity: 0.9;
    border-radius: 5px;
    width: 20vw;
    height: 50vh;
}

.card2 h4{
    text-align: center;
    padding-top: 10px;
}

.img{
    width: 100%;
}

.card-container .button{
    background-color:#4169E1;
    text-align: center;
    border: 10px;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
    width: 200px;
}



/* end container3 */


/* dealership */


/* dealership */

.form4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}

.dalem-form {
    font-style: italic;
    width: 800px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.dalem-form input {
    display: inline-block;
   
   
}

/* Footer */
.footer{
    height: 330px;
    background-color: #4169E1;
    justify-content: space-around;
}

.cover{
    width: 80%;
    margin: auto;
    padding: 50px 0;
    display: flex;
}

.quick-link, .fasilitas, .more, .footer-contact{
    width: 25%;
}

.quick-link ul, .fasilitas ul, .more ul, .footer-contact ul{
    list-style: none;
    line-height: 30px;
}

.quick-link li a, .fasilitas ul li a, .more ul li a, .footer-contact p{
    text-decoration: none;
    color: white;
}

.cover h2{
    color: white;
    margin-bottom: 20px;
}
/* dealership*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}





.banner_bg{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image/banner_bg.jpeg);
    background-size: cover;
    background-position: center;
}

.banner_bg h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: relative;
    top: 50%;
    color: #fff;
}

.banner_bg h1 span{
    color: #4169E1;
    margin-left: 15px;
}





.main_blog{
    width: 100%;
    height: auto;
    margin-top: 55px;
    margin-bottom: 15px;
    display: flex;
}

.main_blog .slide_1{
    width: 70%;
    height: 560px;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
}

.main_blog .slide_1::-webkit-scrollbar{
    width: 0;
}

.main_blog .slide_1 .blog_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px 0;
    padding-bottom: 10px;
}

.main_blog .slide_1 .blog_box .blog_card{
    width: 450px;
    height: auto;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    margin: 0 auto;
}

.main_blog .slide_1 .blog_box .blog_card .blog_image{
    width: 450px;
    height: 300px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main_blog .slide_1 .blog_box .blog_card .blog_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main_blog .slide_1 .blog_box .blog_card .blog_tag .blog_date{
    width: 100%;
    color: #4169E1;
    padding: 15px 0 0 20px;
    font-size: 14px;
}


.main_blog .slide_1 .blog_box .blog_card .blog_tag .blog_date i{
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 8px;
}

.main_blog .slide_1 .blog_box .blog_card .blog_tag .blog_heading{
    padding: 10px 20px 10px 20px;
    font-size: 25px;
}

.main_blog .slide_1 .blog_box .blog_card .blog_tag .blog_text{
    padding: 0 20px 10px 20px;
    text-align: justify;
    line-height: 21px;
}

.main_blog .slide_1 .blog_box .blog_card .blog_tag hr{
    width: 95%;
    background: #facc22;
    height: 1px;
    margin: 0 auto;
    border: 0;
    border-radius: 5px;
}

.main_blog .slide_1 .blog_box .blog_card .blog_tag .view_and_like{
    padding: 10px 20px 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_blog .slide_1 .blog_box .blog_card .blog_tag .view_and_like .view{
    display: flex;
    align-items: center;
}

.main_blog .slide_1 .blog_box .blog_card .blog_tag .view_and_like .view p{
    margin-right: 10px;
    font-size: 14px;
}

.main_blog .slide_1 .blog_box .blog_card .blog_tag .view_and_like .like{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.main_blog .slide_1 .blog_box .blog_card .blog_tag .view_and_like .like i{
    cursor: pointer;
    margin-left: 5px;
}

.main_blog .slide_2{
    width: 20%;
    height: 560px;
    margin: 0 auto;
    background: #f5f5f5;
    overflow: hidden;
    overflow-y: scroll;
}

.main_blog .slide_2::-webkit-scrollbar{
    width: 0;
}

.main_blog .slide_2 .follow_card .follow_head{
    width: 100%;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #cccccc;
    z-index: 5;
}

.main_blog .slide_2 .follow_card .follow_head .most_follow{
    font-size: 25px;
}

.main_blog .slide_2 .follow_card .follow_head .follow_view{
    font-size: 25px;
    color: #facc22;
    cursor: pointer;
}

.main_blog .slide_2 .follow_card .follow_profiles{
    display: flex;
    align-items: center;
    margin: 0 0 21px 30px;
    cursor: pointer;
    position: relative;
}

.main_blog .slide_2 .follow_card .follow_profiles img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.main_blog .slide_2 .follow_card .follow_profiles .follow_profile_tag{
    margin-left: 20px;
}

.main_blog .slide_2 .follow_card .follow_profiles .follow_profile_tag p{
    color: #919191;
    font-size: 12px;
}







.blog_banner{
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image/blog_banner.jpg);
    background-size: cover;
    background-position: center;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_banner .blog_banner_tag h2{
    color: #fff;
    font-size: 40px;
    line-height: 23px;
    margin-left: 140px;
    margin-right: 80px;
}

.blog_banner .blog_banner_tag h2 span{
    font-size: 25px;
}

.blog_banner form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_banner form input{
    padding: 15px;
    width: 350px;
    border-radius: 30px;
    outline: none;
    border: 2px solid #facc22;
    font-size: 15px;
}

.blog_banner form .blog_sub .email{
    position: relative;
    left: 30px;
}

.blog_banner form button{
    background: #facc22;
    outline: none;
    padding: 10px 12px;
    position: relative;
    right: 75px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}