*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* navbar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 0 0 10px 10px;
}

nav .logo{
    display: flex;
    margin-right: 1rem;
    align-items: center;
}
.nav .logo h1{
    width: 120px;
    display: flex;
    cursor: pointer;
}

.nav-link{
    margin-left: 155px;
    margin-top: 20px;
}
.nav-link ul{
    list-style: none;
}

.nav-link ul li{
    display: inline-block;
    margin: 0 10px;
}

.nav-link ul li a{
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link ul li a:hover{
    color: #4169E1;
}

.nav ul li a.action{
    color:  #4169E1;
}

.nav .login a{
    color: #000;
    text-decoration: none;
    border: 2px solid #facc22;
    border-radius: 20px;
    padding: 7px 20px;
    transition: 0.3s;
}

.nav .login a:hover{
    background: #facc22;
    color: #fff;
}

.bigger-icon{
    font-size: 30px;
    cursor: pointer;
}

.dropdown-menu {
    
}
/* end navbar */

/* container 1 */

.container1 {
    background-image: url(img/dealership.jpg);
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.right{
    text-align: end;
    width: 85%;
    box-sizing: border-box;
    padding-top: 70px;
}

 .p1{
    color: #4169E1;
    font-size: 40px;
    padding-top: 150px;
}

.p2{
    color:  #4169E1;
    font-weight: bold;
    font-size: 55px;
}

.btn-1{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #4169E1;
    color: white;
    width: 150px;
    cursor: pointer;
    margin-top: 15px;
}

/* end container 1 */

/* container 2 */
.container2{
    padding-top: 50px;
}

.container2 h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

.card iframe{
    width: 1080px;
    height: 500px;
}

.card h2{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/* end container 2 */

/* container 3 */

.container3{
    padding-top: 40px;
    padding-bottom: 50px;
    width: 100%;
    margin: auto;
}


.card1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
}

.card2{
    background-color: white;
    padding-top: 15px;
    margin-top: 50px;
    margin-right: 5px;
    box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.2);
    opacity: 0.9;
    border-radius: 5px;
    width: 20vw;
    height: 44vh;
}

.card2 h4{
    text-align: center;
    padding-top: 10px;
}

.img{
    width: 100%;
}

.card-container button{
    background-color: #4169E1;
    border: none;
    color: white;
    padding: 10px 90px;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
}

.img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 666ms;
}

.container3 button:hover{
    background-color: #e5ae40;
    color: black;
    transition: 666ms;
}

/* end container3 */


/* dealership */

.dealership{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 150px;
    background-color: grey;
    padding-bottom: 80px;
}

.pe1{
    color: white;
    font-size: 40px;
    padding-top: 150px;
}

.pe2{
    color:  white;
    font-weight: bold;
    font-size: 55px;
}
/* dealership */

/* Footer */
.footer{
    height: 330px;
    background-color: #4169E1;
    justify-content: space-around;
}

.cover{
    width: 80%;
    margin: auto;
    padding: 50px 0;
    display: flex;
}

.quick-link, .fasilitas, .more, .footer-contact{
    width: 25%;
}

.quick-link ul, .fasilitas ul, .more ul, .footer-contact ul{
    list-style: none;
    line-height: 30px;
}

.quick-link li a, .fasilitas ul li a, .more ul li a, .footer-contact p{
    text-decoration: none;
    color: white;
}

.cover h2{
    color: white;
    margin-bottom: 20px;
}
/* dealership*/

.card-container .button{
    cursor: pointer;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4169E1;
    color: white;
    padding: 10px 90px;
    margin-top: 10px;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    text-decoration: none;
}
