*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* navbar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 0 0 10px 10px;
}

nav .logo{
    display: flex;
    margin-right: 1rem;
    align-items: center;
}
.nav .logo h1{
    width: 120px;
    display: flex;
    cursor: pointer;
}

.nav-link{
   margin-left: 155px;
    margin-top: 20px;
}
.nav-link ul{
    list-style: none;
}

.nav-link ul li{
    display: inline-block;
    margin: 0 10px;
}

.nav-link ul li a{
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link ul li a:hover{
    color: #4169E1;
}

.nav ul li a.action{
    color:  #4169E1;
}

.nav .login a{
    color: #000;
    text-decoration: none;
    border: 2px solid #facc22;
    border-radius: 20px;
    padding: 7px 20px;
    transition: 0.3s;
}

.nav .login a:hover{
    background: #facc22;
    color: #fff;
}


.bigger-icon{
    font-size: 30px;
    cursor: pointer;
}

.dropdown-menu {
    
}
/* end navbar */
/*  about */

/* .container2cov {
    background-image: url(../img/dealership.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    
} */
.slide img{
    width: auto;
    height: 700px;
    filter: blur(3px);
}

.kanan{
    text-align: left;
    width: 85%;
    box-sizing: border-box;
    padding-top: 70px;
    margin-left: 100px;
}

.p1{
    font-size: 25px;
    padding-top: 10px;
    
}

.p2{

    
    font-weight: bold;
    font-size: 20px;
}

.main2{
    margin-top: 85px;
    text-align: center;
}

.main2 h1{
    margin-bottom: 50px;
}

.main2-img{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}


.main2-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 80%;
    margin: auto;
}

.main2-text h2:nth-child(1){
    margin-left: 6vw;
}

.main2-text h2:nth-child(2){
    margin-left: 10vw;
}

.box{
    display: flex;
    justify-content: space-around;
    margin-top: -80px;
    margin-bottom: -20px;
}

.box2{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box .persen{
    width: 150px;
    height: 150px;
    position: relative;
}

.box .persen svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-linecap: round;
    stroke-dashoffset: 45px;
    stroke: #000000;
}

.box .persen .num{
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.box .persen .num h2{
    font-size: 48px;
}

.box .persen .num h2 span{
    font-size: 24px;
}

.box .text{
    padding-top: 10px;
    color: black;
    font-weight: 700;
    letter-spacing: 3px;
}

.footer{
    height: 330px;
    background-color: #4169E1;
    justify-content: space-around;
}

.cover{
    width: 80%;
    margin: auto;
    padding: 50px 0;
    display: flex;
}

.quick-link, .fasilitas, .more, .footer-contact{
    width: 25%;
}

.quick-link ul, .fasilitas ul, .more ul, .footer-contact ul{
    list-style: none;
    line-height: 30px;
}

.quick-link li a, .fasilitas ul li a, .more ul li a, .footer-contact p{
    text-decoration: none;
    color: white;
}

.cover h2{
    color: white;
    margin-bottom: 20px;
}
/* End Footer */